.me_img {
    position: relative;
    z-index: 1;
    width: 200px;
    height: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    filter: drop-shadow(5px 5px 15px rgba(77, 63, 48, 0.4));
    transition: transform 0.3s ease;
    border-radius: 20px;
}

.horizontal {
    display: flex;
    margin: 50px;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.about_content {
    display: flex;
    flex-direction: column;
}

.about_me {
    max-width: 600px;
    border: 1px solid black;
}

